- var breakpoint_big = "screen and (min-width: 55em)";
- var breakpoint_small = "screen and (max-width: 55em)";

doctype html
html(lang="en")
	head
		title Weather
		block links
			link(href="/css/style.css", rel="preload", as="style")
			link(href="/css/icons.css", rel="preload", as="style")
			link(href="/scripts/modules/util.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/icons.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/weather_util.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/themes.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/view.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/logger.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/cache.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/theme_selector.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/app.js", rel="modulepreload", as="script")
			link(href="/scripts/main.js", rel="modulepreload", as="script")
			link(href="/css/desktop.css", rel="preload", as="style", media=breakpoint_big)

			// Themes
			each time in ['night', 'day', 'morning', 'evening']
				link(href="/css/themes/"+time+".css", rel="preload", as="style")
				link(href="/images/"+time+"/clear-small.jpg", rel="preload", as="image", media=breakpoint_small)
				//link(href="/images/"+time+"/clear-full.jpg", rel="preload", as="image", media=breakpoint_big)
				link(disabled, href="/css/themes/"+time+".css", rel="stylesheet", type="text/css", name=time)

			// Other stuff
			link(href="/favicon.png", rel="icon")
			link(href="/manifest.json", rel="manifest")
			link(href="/css/style.css", rel="stylesheet", type="text/css")
			link(href="/css/desktop.css", rel="stylesheet", type="text/css", media=breakpoint_big)
			link(href="/css/icons.css", rel="stylesheet", type="text/css")
		block scripts
			script(type="module", src="/scripts/main.js")
		block meta
			meta(name="viewport", content="width=device-width")
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="mobile-web-app-capable", content="yes")
			meta(name="theme-color", content="")
	body
		main
			div#search-container
				input#search(name="query", placeholder="Search", type="text", autocomplete="off")
				span#search-status Loading...
			section#content
				div#top-bar
					h1#parsed-query-pretty
					div#unit-selector
						input#imperial(name="unit-type", value="imperial", type="radio")
						label(for="imperial") Imperial
						input#metric(name="unit-type", value="metric", type="radio")
						label(for="metric") Metric
						input#si(name="unit-type", value="si", type="radio")
						label(for="si") SI
				ul#overview-container.plain
					each i in [0, 1, 2, 3, 4, 5]
						li.day-overview.skeleton
